@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D192C;
}

.container {
    background-color: #15263F;
    padding: 24px;
    height: 596px;
    width: 350px;
    border-radius: 15px;
}

.img {
    width: 100%;
    border-radius: 8px;
}

.card-content {
    padding-top: 24px;
    position: relative;
}

.eth-info {
    display: flex;
    justify-content: space-between;
}
h1 {
    color: #fff;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.card-content h2 {
    color: #8bacd9;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 16px;
}
.eth-info {
    margin-top: 24px;
}
.eth-info-left,
.eth-info-right {
    display: flex;
    align-items: center;
    gap: 5px;
}
.eth-current {
    text-transform: uppercase;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    color: #00FFF8;
}
.eth-date {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    color: #8BACD9;
}
.profile::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #2E405A;
    top: 188px;
}
.profile {
    padding-top: 41px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.profile-img {
    width: 33px;
    border-radius: 50%;
}
.profile-img img {
    border: 1px solid #fff;
    width: 100%;
    border-radius: 50%;
}
.profile-info h3 {
    font-family: Outfit;
    color: #8BACD9;
    font-weight: 400;
    font-size: 16px;
}
.profile-info h3 span {
    color: #fff;
    cursor: pointer;
}

h1:active,
.profile-info h3 span:active {
    color: #00FFF8;
}

.card-img {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye {
    position: absolute;
    opacity: 0;
    background-color: transparent;
}
.card-img:active .eye{
    opacity: 1;
}
.card-img:active {
    background-color: #00FFF8;
    border-radius: 8px;
}
.card-img:active .img {
    opacity: 0.5;
}

@media (max-width: 375px) {
    .container {
        width: 327px;
        height: 543px;
    }
    .card-content {
        padding-top: 22px;
    }
    .card-content h2 {
        margin-top: 12px;
    }
    .img {
        width: 278px;
    }
    .eth-info {
        margin-top: 16px;
    }
    .profile::before {
        top: 167px;
    }
    .profile {
        padding-top: 33px;
    }
}